@page "/Project/Create/{projectId:int}"
@using myorange_pmproject.DTO
@using myorange_pmproject.Service
@inject ProjectService projectService
@attribute [Authorize(Roles = "Admin, User")]
@inject NavigationManager nv
@using Radzen
@using Radzen.Blazor
 
<div class="container">  
    <h2>项目信息表单</h2>  
    <EditForm Model="@project" OnValidSubmit="@SaveProject">
        <div class="mb-3">  
            <label for="projectName" class="form-label">项目名称</label>  
            <input type="text" @bind="project.Name" class="form-control" id="projectName" name="name" placeholder="请输入项目名称">  
        </div>  
        <div class="mb-3">  
            <label for="projectIntro" class="form-label">项目简介</label>
            <RadzenHtmlEditor @bind-Value="project.Intro"
                              style="height: 450px;"
                               UploadUrl="upload/image" />


            <RadzenDialog />
           
        </div>  
        <div class="mb-3">  
            <label for="startTime" class="form-label">开始日期</label>  
            <input type="date" @bind="project.Starttime" class="form-control" id="startTime" name="starttime">  
        </div>  
        <div class="mb-3">  
            <label for="endTime" class="form-label">结束日期</label>  
            <input type="date" @bind="project.Endtime" class="form-control" id="endTime" name="endtime">  
        </div>  
        <div class="mb-3">  
            <label for="projectState" class="form-label">状态</label>

            <RadzenDropDown @bind-Value="@project.State" Data="@(ProjectState.GetProjectState())"
                            TextProperty="@nameof(ProejctSelect.SelectText)"
                            ValueProperty="@nameof(ProejctSelect.SelectValue)"
                            Style="width: 100%; " Name="ddlProjects" />
       
        </div>
        <div class="mb-3">
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="alert alert-danger " style="display:@ErrorDisplay">
          @ErrorInfo
         </div>
        <button type="submit" class="btn btn-primary" >提交</button> 
        
    </EditForm>
    
</div>  


@code{


    private ProjectDTO project = new ProjectDTO();
    private String ErrorInfo = "";

    [Parameter]
    public int projectId { get; set; }

    private String ErrorDisplay = "none";

    protected override async Task OnInitializedAsync()
    {
        if (projectId > 0)
        {
            project = await projectService.GetSinger(projectId);
        }

    }

    private async Task SaveProject(){

        if (String.IsNullOrEmpty(project.Name) || String.IsNullOrEmpty(project.Intro)){

            ErrorInfo = "请输入项目名称和简介";
            ErrorDisplay = "block";

        }
        else{

            var blnSave = await projectService.Save(project) ;
            ErrorInfo = blnSave?"保存成功":"保存失败";
            if (blnSave)
            {

                nv.NavigateTo("/Project/List");

            }
            else
            {
                ErrorDisplay = "block";
            }


        }




     }

    



}
  

