@page "/Request/Create/{Id:int}"
@using myorange_pmproject.DTO
@using myorange_pmproject.Service
@inject RequestService mService
@attribute [Authorize(Roles = "Admin, User")]
@inject NavigationManager nv
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Radzen
@using Radzen.Blazor
@inject ProjectService pService
 
@inject IWebHostEnvironment Environment

<PageTitle>创建需求</PageTitle>
<div class="container mt-5">
    <h2>需求信息表单</h2>
    <EditForm Model="@p" OnValidSubmit="@SaveData">
    <div class="mb-3">
            <label for="ddlProjects" class="form-label">选择项目</label>
            <RadzenDropDown @bind-Value="@ProjectId" Data="@Projects"
                            TextProperty="@nameof(ProjectDTO.Name)"
                            ValueProperty="@nameof(ProjectDTO.Id)"
                            Style="width: 100%;" Name="ddlProjects" />

      </div>
    <div class="mb-3">
        <label for="Title" class="form-label">名称</label>
        <input type="text" @bind="p.Title" class="form-control"
              placeholder="请输入名称">
    </div>
    <div class="mb-3">
        <label for="Content" class="form-label">描述</label>
        <RadzenHtmlEditor @bind-Value="p.Content"
                          style="height: 450px;height:250px "
                          UploadUrl="upload/image" />


        <RadzenDialog />
        
    </div>

  
    
     
    <div class="mb-3">
        <label for="Request_type" class="form-label">类型</label>
        <select class="form-select"  @bind="p.Request_type">
            <option  value="0">请选择类型</option>
            <option value="1">需求</option>
            <option value="2">Bug</option>
        </select>
 
    </div>

    <div class="mb-3">
        <label for="startTime" class="form-label">开始日期</label>
        <input type="date" @bind="p.Starttime" class="form-control" id="startTime" name="starttime">
    </div>
    <div class="mb-3">
        <label for="endTime" class="form-label">期望完成时间</label>
        <input type="date" @bind="p.Willfinishtime" class="form-control" id="endTime" name="endtime">
    </div>

    <div class="mb-3">
        <label for="endTime" class="form-label">实际完成时间</label>
        <input type="date" @bind="p.Finishtime" class="form-control" id="endTime" name="endtime">
    </div>

    <div class="mb-3">
        <label for="Request_type" class="form-label">状态</label>
        <select class="form-select" @bind="p.State">
            <option  value="0">请选择</option>
            <option value="1">新建</option>
            <option value="2">进行中</option>
            <option value="3">完成</option>
            <option value="4">挂起</option>
            <option value="-1">取消</option>
        </select>

    </div>
    <div class="mb-3">
            <DataAnnotationsValidator />
            <ValidationSummary />
     </div>
    <div class="alert alert-danger " style="display:@ErrorDisplay">
        @ErrorInfo
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
  </EditForm>
</div>


@code {


     

    private Project_requestDTO p = new Project_requestDTO();
    private String ErrorInfo = "";

    [Parameter]
    public int Id { get; set; }

    private String ErrorDisplay = "none";

    private List<ProjectDTO> Projects;

    private int ProjectId;

    protected override async Task OnInitializedAsync()
    {
        Projects = await pService.GetList();
        if (Id > 0)
        {
            p = await mService.GetSinger(Id);
            if (p != null)
            {
                this.ProjectId = p.ProjectId != null ? (int)p.ProjectId : 0;
                StateHasChanged();
            }
        }

    }

    private async Task SaveData()
    {

        if (String.IsNullOrEmpty(p.Title) || String.IsNullOrEmpty(p.Content))
        {

            ErrorInfo = "请输入名称和内容";
            ErrorDisplay = "block";

        }
        else
        {

            var blnSave = await mService.Save(p, ProjectId, null);
            ErrorInfo = blnSave ? "保存成功" : "保存失败";
            if (blnSave)
            {

                nv.NavigateTo("/Request/List");

            }
            else
            {
                ErrorDisplay = "block";
            }


        }




    }





}